# Local MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/insuredmine
# ya MongoDB Atlas:
# MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/insuredmine?retryWrites=true&w=majority

PORT=3000

# CPU monitor (Task 2.1)
CPU_THRESHOLD=70
CPU_CONSECUTIVE_SAMPLES=3
CPU_SAMPLE_INTERVAL_MS=2000

# Import worker
IMPORT_BATCH_SIZE=500
MAX_IMPORT_WORKERS=2
